img.align-left {
	float: left;
	margin-right: 10px;}
body {
	width:100%;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	font-family: Times New Roman;
	font-size: 18px;
}	
html. { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat: no-repeat;
 	background-image: url('http://assets.stribling.com/images/listing_photo/photo/20678/size_1125x750_10277013_Island_blue_living_room_2.jpg');
   );
}
div.topOfThePage{
	top:0;
	position:fixed;
	width:100%;
	height:140px;
	margin-top:0px;
	margin-left:0px;
	background-color:#ffffff;
	
}     
.header img { 		
	float: left;
	width: 150px;
	height: 80px;
}


.header h1 {		
	font-family: Times New Roman;
	font-size: 40px;
	color: #489cdf; 
	margin: 0;
	padding-top:39px;
}
.header-all img {
	float: left;
	width: 150px;
	height: 60px;
}
.header-all h1 {
	font-family: Times New Roman;
	font-size: 40px;
	color: #489cdf;
	margin: 0;
	padding-top:20px; 
}

ul {list-style: none;padding: 0px;margin: 0px; }
  ul li {margin:0px; display: block;position: relative;float: left;border:1px solid #ffffff; font-family: Times New Roman;
	font-size: 20px; }
  li ul {display: none;}
  ul li a {display: block;background: #ffffff;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #489cdf;}
  ul li a:hover {background: #ffffff;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #ffffff;}
  li:hover li a:hover {background: #ffffff; font-weight:bold;
	text-decoration:underline;}
 .index {
	margin-left:350px;
	position: relative;
	padding-bottom:10px;
	background-color: #ffffff;
  }

	
}
.index li ul li {border-top: 0px;}

#first{font-family: Arial; font-size: 28px;}

div {
	margin: 10px;
	padding-bottom: 8px;
	width: 820px;
} 
.title {
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	color: #489cdf;
}								
.submit {
	text-align: right;
}

form {	
	width: 400px;
	height: 528px;
	font-family: Times New Roman;
	font-size: 15px;
	color: #489cdf; 
	margin-top: 15em;
	background-color: #ffffff;
 	border: 3px solid;
	border-color:#489cdf ;
	border-radius: 5px;
 }   	
 #availabilityForm{
    width: 414px;
	height: 107px;
	font-family: Times New Roman;
	font-size: 15px;
	color: #489cdf; 
	margin-top: 15em;
	margin-left:30%;
	background-color: #ffffff;
 	border: 3px solid;
	border-color:#489cdf ;
	border-radius: 5px;
 }
 
.smallForms{
	width: 400px;
	height: 158px;
	font-family: Times New Roman;
	font-size: 15px;
	color: #ffffff; 
	margin-top: 18em;
	margin-left:50%;
	background-color: #ffffff;
 	border: 3px solid;
	border-color:#489cdf ;
	border-radius: 5px;
}

.button{
	padding: 10px;
	margin: 10px; 
	width: auto;
	font-family: Times New Roman;
	font-size: 15px;
	color: #489cdf; 
	border-color:#489cdf ;
	border-radius: 5px;
}

.roomsStatus{
	padding-top:10px;
	width: 193px;
	text-align: right;
	color: #489cdf;
	border-color:#489cdf ;
	border-radius: 5px;
}

.roomsType{
	padding-top:10px;
	position: relative;
	width: auto;
	text-align: right;
	padding-right: 10px;
	color: #489cdf;
	border-color:#489cdf ;
	border-radius: 5px;
}

input.inputMine{
	width: 193px;
	font-family: Times New Roman;
	font-size: 15px;
	color: #489cdf; 
	border-color:#489cdf ;
	border-radius: 5px;
	
}
div.bgimage {
	margin-top:9em;
}
.background-img{
	margin-left: -20px;
	width:1358px;
	height:455px;  
}

.testIt{
	position: fixed;
}

.header-booking a{
	
	width:150px;
	height:80px;
} 
.logo-img{
	width:150px;
	height:80px; 
}
input[type=radio]{
  width   : 10px;
  color: #489cdf;

} 
.cool{
	float: left;
    width: 400px;
}

.coolImage {
	margin-left: -5;
	margin-top:13em;
	float: left;
	width: 700px;
	height: 528px;
}

.coolImage > img { 
	width:100%;
	height: 535px;
	
}
.coolTotal{
	width: 1190px;
	height: 535px;
	margin: 20 auto 0 auto;
}
.coolThird {
	
	position: fixed;
	top: 0px;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin: auto 0px;
	padding: auto 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow : hidden; 
}
.nextImage{
	width:100%;
	heigth:535px;
}
.new{
	display: inline-block;
    width: 130px;
    height: 80px;
    margin: 1em;
	padding: 10px;
	border: 5px solid;
	border-color: #489cdf;
	text-align: center;
	font-size: 40px;
	color: #489cdf
}
.news{
	display: inline-block;
    width: 130px;
    height: 80px;
    margin: 1em;
	padding: 10px;
	border: 5px solid;
	border-color: #489cdf;
	text-align: center;
	font-size: 20px;
	color: #489cdf
}
#free{
	display: inline-block;
	margin: 0;
	width: 60px;
	height: 20px;
	background-color: #c0c0c0;
	
}
#reserved{
	display: inline-block;
	margin: 0;
	width: 60px;
	height: 20px;
	background-color:#80ff80;
	
}
#reparation{
	display: inline-block;
	margin: 0;
	width: 60px;
	height: 20px;
	background-color: #d0b0cc;
	
}
#cleaning{
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	width: 60px;
	height: 20px;
	background-color: #bbd9a8;
	
}
#text{
	display: inline-block;
	width: 80px;
	height: 20px;
	color: #489cdf;
}

div#id1{
	width:auto;
}
div#legend{
	display:block;
	margin-top:40px;
	margin-left:290px;
	width:1200px;
}

#submitDate{
	display: inline-block;
	float: left;
}
#labelCheck{
	display:inline-block;
}
#dateReport{
	display:inline-block;
}

.tablicata{
	margin-top:15em;
	color:	#489cdf;
	border: 2px solid;
	border-color:#489cdf;
	
}
#tableRows{
	color:	#489cdf;
}
#reservationList{
    width: 700px;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
	height: 126px;
	font-family: Times New Roman;
	font-size: 15px;
	color: #489cdf; 
	background-color: #ffffff;
 	border: 3px solid;
	border-color:#489cdf ;
	border-radius: 5px;

 }

#availabilityPeriod {
    width: 700px;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
	height: 126px;
	font-family: Times New Roman;
	font-size: 15px;
	color: #489cdf; 
	background-color: #ffffff;
 	border: 3px solid;
	border-color:#489cdf ;
	border-radius: 5px;

 }
