
.main-body {
	padding-top: 100px;
	padding-bottom: 100px;

}	
.main-container {
	position: relative;
  	min-width: 1200px;
  	margin: 0px auto 0px auto;
  	padding-left: 200px;
  	padding-right: 200px;
 	
}
	
.row {
	margin-right: 140px;
	margin-right: 0px;
	
}
.col-xs-12 {
		width: 90%;
		float: left;
		position: relative;
 	 	min-height: 1px;
  		padding-left: 40px;
  		padding-right: 40px;
  		margin-left: ;


	}
.col {
		  border: 1px solid #DDD;
		  background-color: rgb(245, 245, 250);
  	}




.registration {
	background-color: rgb(192, 196, 247);
	padding: 0px;
	margin: auto 0px;

}

.background-image {
	
	position: fixed;
	top: 0px;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin: auto 0px;
	padding: auto 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow : hidden; 
}

.image {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: none;
	width : 100%;
	height: 100%;
	z-index: -1;
	-webkit-filter: blur(40px);
	filter: blur(40px);
}

.group {
	margin-bottom: 14px;
}
.register{
	
	top: 0px;
	width: 300px;
	height: 522px;	
	margin: 0 auto;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left:30px;
	padding-right:30px;

	background: rgb(247, 247, 247);
	border-radius: 5px;
	font-size: 13px;

}
.reg-form {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif, Times;
}

.control-group {
	margin-bottom: 10px;
}

.forminput {
	height: 30px;
	width: 300px;
	padding-left: 30px;
}

.icon-font {
	display: block;
	position:  absolute;
	margin-left: 10px;
	margin-right:2px;
	margin-top: 9px;
	margin-bottom: 4px;
	width: 16px;
	height: 16px;
	font-size: 16px;
	text-align: center;
}

.signin-button {
	
}
.login {
	background-color: rgb(192, 196, 247);
	padding: 0px;
	margin: auto 0px;

}
.acc-login{
	
	top: 0px;
	width: 300px;
	height: 260px;	
	margin: 0px auto;
	margin-top: 120px;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left:30px;
	padding-right:30px;

	background: rgb(247, 247, 247);
	border-radius: 5px;
	font-size: 13px;

}

.log-form {
	padding: 0px;
	margin: 0px;
	height: 250px;
	font-family: sans-serif, Times;
}
}

.header-booking a{
	
	width:150px;
	height:80px;
} 
.logo-img{
	width:150px;
	height:80px; 
}
input[type=radio]{
  width   : 10px;
  color: #489cdf;

} 
.cool{
	float: left;
    width: 400px;
}

.coolImage {
	margin-left: -5;
	margin-top:13em;
	float: left;
	width: 700px;
	height: 528px;
}

.coolImage > img { 
	width:100%;
	height: 535px;
	
}
.coolTotal{
	width: 1190px;
	height: 535px;
	margin: 20 auto 0 auto;
}
#new{
	display: inline-block;
    width: 130px;
    height: 80px;
    margin: 1em;
	padding: 10px;
	border: 5px solid;
	border-color: #489cdf;
	text-align: center;
	font-size: 40px;
	color: #489cdf
}
#confirmedRs{
	display: inline-block;
	margin: 1em;
	width: 60px;
	height: 20px;
	background-color: #489cdf;
	
}
#paidReservation{
	display: inline-block;
	margin: 1em;
	width: 60px;
	height: 20px;
	background-color: #c0c0c0;
	
}
#waitingRs{
	display: inline-block;
	margin: 1em;
	width: 60px;
	height: 20px;
	background-color: #d0b0cc;
	
}
#canceledRs{
	display: inline-block;
	margin-top: 1em;
	width: 60px;
	height: 20px;
	background-color: #bbd9a8;
	
}
#text{
	display: inline-block;
	width: 80px;
	height: 20px;
	color: #489cdf;
}

div#id1{
	width:auto;
}
div#legend{
	display:block;
	margin-top:40px;
	width:1200px;
}

#submitDate{
	display: inline-block;
	float: left;
}
#labelCheck{
	display:inline-block;
}
#dateReport{
	display:inline-block;
}
